<!--Group 10:-->
<!--Name: Sumit Jain (100890788)-->
<!--Name: Yash (100892788)-->

<main class="container">
    <h2>Our Team</h2>
    <div class="team-container">
        <table class="team-table table table-striped table-hover">
            <tr>
                <td>Photo</td>
                <td>Name</td>
                <td>Descrpition</td>
            </tr>
            <tr id="team-11">
                <td><img src="images/SJ.jpg" width="120" height="120" alt="SumitJain Image"/></td>
                <td>Sumit Jain</td>
                <td>Team member specializing in software development</td>
            </tr>
            <tr id="team-12">
                <td><img src="images/Yash.jpg" width="120" height="120" alt="Yash image"/></td>
                <td>Yash</td>
                <td> Team member excelling in design and user interface</td>
            </tr>
        </table>
    </div>
</main>