<!--Group 10:-->
<!--Name: Sumit Jain (100890788)-->
<!--Name: Yash (100892788)-->

<nav class="bottom-navbar fixed-bottom navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" data="privacy">Privacy</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data="tos">Terms of Services</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data="contact">Contact us</a>
              </li>
          </ul>
      </div>
  </div>
</nav>