<!--Group 10:-->
<!--Name: Sumit Jain (100890788)-->
<!--Name: Yash (100892788)-->

<main id="main-content" class="container newEventFormContainer">
    <h2>New Event</h2>
    <form id="newEventForm" novalidate>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <input class="form-control" type="text" name="eventName" id="eventName" placeholder="Event Name" required>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <textarea id="eventDescription" name="eventDescription" class="form-control" placeholder="Event description"
                    aria-describedby="Message Area" aria-label="Message Area Input" required rows="10"></textarea>
        </div>

        <div class="text-center">
          <button id="createEventButton" type="button" class="btn btn-primary btn-lg">Create</button>
        </div>
      </form>
</main>